---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>
  <div>
  <h3>Tags :</h3>
  <ul class="tags">
  {% for tag in site.tags %}
    {% assign t = tag | first %}
    {% assign posts = tag | last %}
    <li>{{t | downcase | replace:" ","-" }} has {{ posts | size }} posts</li>
  {% endfor %}
  </ul>
  </div>
  {% include disqus.html %}
</article>
